<!-- Page content start -->
<div class="container">
    <div class="row">
        <!-- Blog entries start -->
        <div class="col-lg-8">
            <div class="text-center mt-4 mb-4">
                <h1 class="fw-bolder">Ultimele postari</h1>
            </div>
            <div *ngIf="posts$ | async as posts" class="row">
                <div class="row" *ngIf="posts.length > 0">
                    <div
                        *ngFor="let post of posts | paginate: { itemsPerPage: 5, currentPage: page, totalItems: posts.length }">
                        <mat-card class="mb-4">
                            <mat-card-title>{{ post.title | truncatePipe:35:'...' }}</mat-card-title>
                            <mat-card-subtitle>Postat de: {{ post.author }} &bull;
                                {{ post.published.toDate() | date: 'mediumDate' }} at {{ post.published.toDate() | date:
                                'shortTime' }} </mat-card-subtitle>
                            <mat-card-content>
                                <p class="card-text" [innerHtml]="post.content | truncatePipe:85:'...'"></p>
                            </mat-card-content>
                            <mat-divider inset></mat-divider>
                            <mat-card-actions class="d-flex justify-content-between">
                                <a mat-raised-button color="primary" routerLink="{{ post.id }}">Citeste mai mult →</a>
                                <button mat-button color="accent" *ngIf="authService.isLoggedIn && authService.isAdmin"
                                    (click)="deletePost(post.id!)">Sterge</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
                <div *ngIf="posts.length === 0" class="text-center">There are no posts yet.</div>
            </div>
        </div>
        <!-- Blog entries end -->

        <!-- Side widgets start -->
        <div class="col-lg-4">
            <!-- Search widget start -->
            <mat-card class="mb-4">
                <mat-card-title>Cautare</mat-card-title>
                <hr />
                <mat-card-content>
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Introduceti termenul de cautare..."
                            aria-label="Introduceti termenul de cautare..." aria-describedby="button-search" />
                        <button mat-flat-button color="primary" id="button-search" type="button">Go!</button>
                    </div>
                </mat-card-content>
            </mat-card>
            <!-- Search widget end -->

            <!-- Categories widget start -->
            <mat-card>
                <mat-card-title>Categorii</mat-card-title>
                <hr />
                <mat-card-content>
                    <div class="row">
                        <mat-chip-list cdkDropList cdkDropListOrientation="horizontal">
                            <mat-chip cdkDrag>Web design</mat-chip>
                            <mat-chip cdkDrag>Freebies</mat-chip>
                            <mat-chip cdkDrag>Bootstrap</mat-chip>
                            <mat-chip cdkDrag>HTML & CSS</mat-chip>
                            <mat-chip cdkDrag>Angular</mat-chip>
                            <mat-chip cdkDrag>Vue</mat-chip>
                            <mat-chip cdkDrag>React</mat-chip>
                        </mat-chip-list>
                    </div>
                </mat-card-content>
            </mat-card>
            <!-- Categories widget end -->
        </div>
        <!-- Side widgets end -->
        <div class="col-lg-8">
            <pagination-controls align="center" (pageChange)="pageChanged($event)"
                (pageBoundsCorrection)="pageChanged($event)" [maxSize]="9" [directionLinks]="true"
                previousLabel="Previous" nextLabel="Next">
            </pagination-controls>
        </div>
    </div>
</div>
<!-- Page content end -->