<div *ngIf="post" class="container mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <article>
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1" style="word-break: break-all;">{{ post.title }}</h1>

                    <div class="text-muted fst-italic mb-2">Postat de: {{ post.author }} &bull; {{
                        post.published.toDate() | date: 'mediumDate' }} at {{ post.published.toDate() | date:
                        'shortTime' }} </div>
                </header>

                <figure class="mb-4">
                    <img *ngIf="post.backgroundImage" class="img-fluid rounded" src="{{ post.backgroundImage }}"
                        alt="{{ post.title }}" />
                </figure>
            </article>

            <app-post-content></app-post-content>

            <app-comments></app-comments>
        </div>

        <div class="col-lg-4">
            <mat-card>
                <mat-card-title>Categorii</mat-card-title>

                <hr />

                <mat-card-content>
                    <mat-chip-list class="d-inline-block m-1" cdkDropList cdkDropListOrientation="horizontal" *ngFor="let category of
                                        post.categories" aria-label="Post categories">
                        <mat-chip cdkDrag>{{ category }}</mat-chip>
                    </mat-chip-list>

                    <div class="text-center">
                        <span *ngIf="!post.categories">Aceasta postare nu are categorii!</span>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>