<!-- Page content-->
<div *ngIf="post" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" style="word-break: break-all;">{{ post.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Postat de: {{ post.author }} &bull; {{
                        post.published.toDate() | date: 'mediumDate' }} at {{ post.published.toDate() | date:
                        'shortTime' }} </div>
                    <!-- Post categories-->
                    <!-- <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a> -->
                </header>
                <figure class="mb-4">
                    <img *ngIf="post.backgroundImage" class="img-fluid rounded" src="{{ post.backgroundImage }}"
                        alt="{{ post.title }}" />
                </figure>
                <!-- Post content-->
                <section class="container mb-5 word-break" [innerHtml]="post.content"></section>
            </article>
            <app-comments></app-comments>
        </div>
    </div>
</div>