<!-- Comments section start -->
<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body" *ngIf="comments$ | async as comments">

            <div *ngIf="comments.length === 0" class="text-center mb-3">
                Inca nu sunt comentarii la aceasta postare!
            </div>

            <!-- Single comment start -->
            <div *ngFor="let comment of comments" class="d-flex mb-4 justify-content-between">
                <div class="ms-3">
                    <div>
                        <span class="fw-bold">{{ comment.userName }}
                            <span class="text-muted fw-normal fst-italic">
                                &bull; {{ comment.createdAt.toDate() | date: "mediumDate"}} at {{
                                comment.createdAt.toDate() | date: "shortTime"}} &bull;
                            </span>
                            <span (click)="deleteComment(comment.id!)"
                                class="delete-comment text-danger fw-normal fst-italic">
                                [sterge]
                            </span>
                        </span>
                    </div>
                    {{ comment.content }}
                </div>
            </div>
            <!-- Single comment end -->

            <!-- Add comment start -->
            <div *ngIf="authService.isLoggedIn">
                <hr />
                <textarea class="form-control" rows="3" placeholder="Lasa un comentariu aici..."
                    [(ngModel)]="comment"></textarea>
                <button mat-raised-button color="primary" class="mt-2" type="submit"
                    (click)="addComment()">Submit</button>
            </div>

            <div *ngIf="!authService.isLoggedIn" class="text-muted text-center">
                <hr />
                Pentru a putea lasa un comentariu trebuie sa fii logat!
            </div>
            <!-- Add comment end -->
        </div>
    </div>
</section>
<!-- Comments section end -->