.mainNav {
	border-bottom: 1px solid #f8f9fa;
	background-color: white;
	color: white !important;

	@media only screen and (min-width: 992px) {
		border-bottom: 1px solid transparent;
		background: transparent;

		-webkit-transition: background-color 0.2s;
		-moz-transition: background-color 0.2s;
		transition: background-color 0.2s;

		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
	}
}

header.masthead {
	margin-bottom: 50px;
	background: no-repeat center center;
	background-color: #868e96;
	background-attachment: scroll;
	position: relative;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -2;

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		height: 100%;
		width: 100%;
		background-color: #212529;
		opacity: 0.5;
	}

	.site-heading {
		padding: 200px 0 150px;
		color: white;
		@media only screen and (min-width: 768px) {
			padding: 200px 0;
		}
	}
}
