<!-- Responsive navigation bar start -->
<nav class="mainNav navbar navbar-expand-lg fixed-top" (scroll)="onPageScroll()">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Blogu' lui Qirila</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" (click)="isCollapsed = !isCollapsed" aria-expanded="false"
            [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end text-center" id="navbarNav"
            [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">Despre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>

                <li class="nav-item">
                    <button *ngIf="!authService.isLoggedIn" mat-raised-button color="primary"
                        (click)="authService.googleAuth()">
                        <img class="google-icon"
                            src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                        Sign in with Google</button>

                    <a *ngIf="authService.isLoggedIn" class="nav-link" routerLink="/dashboard">Dashboard</a>
                </li>

                <li class="nav-item">
                    <button mat-mini-fab color="primary" aria-label="Create post button with plus icon"
                        (click)="openDialog()">
                        <mat-icon>add</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Responsive navigation bar end -->