<footer class="text-center text-white bg-dark">
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <section class="mb-4">
            <a mat-button class="btn btn-link btn-floating btn-lg text-white m-1" href="#!" role="button">
                <fa-icon [icon]="faFacebook"></fa-icon>
            </a>

            <a mat-button class="btn btn-link btn-floating btn-lg text-white m-1" href="#!" role="button">
                <fa-icon [icon]="faGoogle"></fa-icon>
            </a>

            <a mat-button class="btn btn-link btn-floating btn-lg text-white m-1" href="#!" role="button">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </a>

            <a mat-button class="btn btn-link btn-floating btn-lg text-white m-1"
                href="https://www.linkedin.com/in/nicolae-daniel-matei-241888221/" role="button">
                <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
            <a mat-button class="btn btn-link btn-floating btn-lg text-white m-1" href="https://github.com/matei1337"
                role="button">
                <fa-icon [icon]="faGithub"></fa-icon>
            </a>
        </section>
        <hr />
        Copyright ©
        <a class="text-white" href="/">Blogu' lui Qirila</a> 2022
    </div>
</footer>