<div align="center">
    <div mat-dialog-title class="d-flex justify-content-between">
        <h2>Creeaza postare</h2>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div>
        <mat-form-field appearance="outline" [style.width.px]="600">
            <mat-label>titlu postare</mat-label>
            <input matInput placeholder="titlu postare" [(ngModel)]="title" name="title" />
        </mat-form-field>
    </div>

    <div class="mb-4">
        <mat-form-field appearance="outline" [style.width.px]="600">
            <mat-label>categorii</mat-label>
            <input matInput placeholder="categorii" [(ngModel)]="categories" name="categories" />
            <mat-hint>categoriile trebuie separate prin virgula</mat-hint>
        </mat-form-field>
    </div>

    <div class="mb-4">
        <input type="file" id="file" #postImage (change)="uploadImage($event)" name="postImage" autocomplete="off" />
        <div [hidden]="!uploadPercent" class="mt-2">
            <mat-progress-bar mode="determinate" [style.width.px]="600" value="{{ uploadPercent | async }}">
            </mat-progress-bar>
        </div>
        <div [hidden]="!image">
            <img [src]="image || '//:0'" width="600" height="250" />
        </div>

    </div>

    <quill-editor [(ngModel)]="content" name="content" [style.height.px]="350"></quill-editor>

    <mat-dialog-actions align="center">
        <button mat-raised-button (click)="createPost()" color="accent"
            [disabled]="!title || !content">{{saving}}</button>
    </mat-dialog-actions>
</div>