<h2 mat-dialog-title>Creeaza postare</h2>
<mat-dialog-content class="mat-typography" align="center">
    <mat-form-field>
        <input matInput placeholder="Titlu postare" [(ngModel)]="title" name="title" />
    </mat-form-field>
    <br />
    <mat-form-field>
        <textarea matInput placeholder="Continut postare" [(ngModel)]="content" name="content"></textarea>
    </mat-form-field>
    <br />
    <button mat-raised-button (click)="createPost()" color="accent" [disabled]="!title || !content">{{saving}}</button>
</mat-dialog-content>