::ng-deep .ql-editor {
	word-break: break-all !important;
}

.title_field {
	width: 600px;
}

.category_field {
	width: 600px;
}

@media (max-width: 800px) {
	.title_field {
		width: 100%;
	}

	.category_field {
		width: 100%;
	}
}

.editor__js {
	border: 1px solid #ccc;
	background-color: #0000000a;
}
