/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

html,
body {
	height: 100%;
}

body {
	margin: 0 auto;
	font-family: "Lora", "Helvetica Neue", sans-serif !important;
	font-size: 20px !important;
}
