/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "quill/dist/quill.snow.css";

html,
body {
	height: 100%;
	box-sizing: border-box;
	margin: 0;
}

body {
	font: 400 14px/20px "Montserrat", sans-serif !important;
	font-size: 14px;
	line-height: 1.5;
}
