/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "quill/dist/quill.snow.css";

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

html,
body {
	height: 100%;
}

body {
	font-size: 14px;
	line-height: 1.5;
	background-color: rgba(0, 0, 0, 0.03) !important;
}

.circle {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		border-radius: 50%;
		width: 60px;
		height: 60px;
	}

	.initials {
		color: #fff;
		font-size: 20px;
		line-height: 19px;
		letter-spacing: 0.2625px;
	}
}

.delete-comment {
	&:hover {
		cursor: pointer;
	}
}

.ngx-pagination {
	.current {
		background: #3f51b5 !important;
	}
}
