#editorjsReadonly ::ng-deep .codex-editor__redactor {
	padding-bottom: 5px !important;
}

#editorjsReadonly ::ng-deep .ce-block__content {
	display: flex;
	justify-content: center;
}

.editor__js {
	border: 1px solid #ccc;
	background-color: #0000000a;
}
