<div [hidden]="editing" id="editorjsReadonly"></div>
<div [hidden]="!editing">
    <mat-card class="mb-4" align="center">
        <h3 class="fw-bolder mb-1">Modifica postare:</h3>

        <mat-form-field appearance="outline" class="title_field">
            <mat-label>titlu nou postare</mat-label>
            <input matInput placeholder="titlu nou" [(ngModel)]="title" name="title" />
        </mat-form-field>

        <div id="editorjs" class="editor__js"></div>
        <hr inset />
        <button mat-raised-button (click)="updatePost()" color="primary">Salveaza</button>
    </mat-card>
</div>

<div *ngIf="authService.isLoggedIn && authService.isAdmin" class="mb-3" align="right">
    <hr inset />
    <button mat-button (click)="editing = !editing; displayEditor();" [style.margin-right.rem]="1" color="primary">{{
        !editing ?
        "Modifica postare" :
        "Anuleaza" }}</button>
    <button mat-raised-button color="warn" class="ml-1" *ngIf="authService.isLoggedIn && authService.isAdmin"
        (click)="deletePost(id)">Sterge</button>
</div>